:root {
  --bg: #F5F7F6;
  --sidebar: #FFFFFF;
  --header: #2F3E46;
  --primary: #52796F;
  --accent: #CAD2C5;
  --text: #344E41;
  --muted: #6B9080;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
}

h1, h2, h3, p{
    padding: 0;
    margin: 0;
}

#content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

#header{
    grid-area:  1 / 2 / 2 / 6;
    display: flex;
    align-items: flex-end;
    padding: 1rem;

    background: var(--header);
    color: white;
}

#sidebar{
    grid-area: 1 / 1 / 6 / 2;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 3.7fr
}

button{
    cursor: pointer;
    background: var(--primary);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.project-form{
    grid-area: 2/1/3/2;
}

.project-list{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: 3 / 1 / 4 / 2;
}

.project-item{
    align-items: center;
    padding: 4px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;
}

.project-title:hover {
  background: var(--accent);
}

.project-title{
    font-size: 1.2rem;
}

#todo-section{
    grid-area: 2 / 2 / 6 / 6;
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-form{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: stretch;
    height: 24px;
}

.todo-list{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list > li{
    border-bottom: 1px solid black;
}

.todo-list li:last-child{
    border-bottom: none;
}

.todo-card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.complete-todo-button{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}

.todo-info{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.todo-pri, .todo-desc, .todo-date{
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.todo-pri{
    border: 2px solid black;
    text-align: center;
    width: 25%;
    padding: 4px;
    margin-left: 15px;
}