body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    padding: 0;
    margin: 0;
}

.overlay{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

#content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

#header{
    background-color: lightseagreen;
    grid-area:  1 / 3 / 2 / 6;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

#sidebar{
    background-color: lightgray;
    grid-area: 1 / 1 / 6 / 3;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

button{
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.project-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: 2 / 1 / 6 / 2;
}

.project-item{
    background-color: white;
    align-items: center;
    padding: 4px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;
}

.project-form{
    display: none;
}

.project-title{
    font-size: 1.2rem;
}

#todo-section{
    grid-area: 2 / 3 / 6 / 6;
    padding: 1rem 0 0 1rem;
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list > li{
    border-bottom: 1px solid black;
}

.todo-list li:last-child{
    border-bottom: none;
}

.todo-form{
    display: none;
}

.todo-card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.complete-todo-button{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}

.todo-info{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.todo-pri, .todo-desc, .todo-date{
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.todo-pri{
    border: 2px solid black;
    text-align: center;
    width: 25%;
    padding: 4px;
    margin-left: 15px;
}