:root {
  --bg: #f9f9f9;
  --sidebar: #FFFFFF;
  --header: #000000;
  --primary: #000000;
  --accent: #cecece;
  --text: #5d5e5d;
  --muted: #7e7e7e;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
}

h1, h2, h3, p{
    padding: 0;
    margin: 0;
}

input, select, textarea{
    font-family: inherit;
    font-size: 0.95rem;
    color: var(--text);
}

input[type='text'],
input[type='date'],
select,
textarea{
    background-color: var(--sidebar);
    font-weight: 500;
    color: var(--text);
}

#content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    height: 100vh;
}

#header{
    grid-area:  1 / 2 / 2 / 6;
    display: flex;
    align-items: flex-end;
    padding: 1rem;

    background: var(--header);
    color: white;
}

#sidebar{
    grid-area: 1 / 1 / 6 / 2;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 3.7fr;
}

button{
    cursor: pointer;
    background: var(--primary);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    line-height: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.project-form{
    grid-area: 2/1/3/2;
    display: flex;
    gap: 4px;
}

.project-list{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: 3 / 1 / 4 / 2;
    overflow-y: scroll;
}

.project-item{
    align-items: center;
    padding: 4px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    cursor: pointer;
}

.project-title-container{
    width: 100%;
    padding: 4px;
}

.project-title-container:hover {
  background-color: var(--accent);
}

.project-title{
    font-size: 1.2rem;
}

#todo-section{
    grid-area: 2 / 2 / 6 / 6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-form{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: stretch;
}


.todo-list{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 50%;

    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.complete-todo-button{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;

    background-color: var(--accent);
    color: var(--text);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.187);
}

.todo-info{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-pri, .todo-desc, .todo-date{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.todo-pri{
    border: 2px solid black;
    text-align: center;
    width: 25%;
    padding: 4px;
    width: 70px;
}