.overlay{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

#content{
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#header{
    background-color: lightseagreen;
    grid-area:  1 / 3 / 2 / 6;
}

#sidebar{
    background-color: lightgreen;
    grid-area: 1 / 1 / 6 / 3;
}

.project-list{
    background-color: lightblue;
    grid-area: 2 / 1 / 3 / 2;
}

.project-item{
    background-color: lightcoral;
    grid-area: 2 / 1 / 3 / 3;
}

#todo-section{
    background-color: gray;
    grid-area: 2 / 3 / 6 / 6;
}

.project-form{
    display: none;
}


.project-title{
    color: blue;
}


.todo-form{
    display: none;
}

.todo-list{
}

.todo-card{
    border: 1px solid black;
}